<div class="table-container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                @if (authService.hasAnyRole(['ROLE_SUPER_ADMIN'])) {
                <th class="text-center" scope="col">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of categoryList; track item.id) {
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{item.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                @if (authService.hasAnyRole(['ROLE_SUPER_ADMIN'])) {
                <td>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <button type="button" (click)="showDetail(item, formModal)" class="btn btn-secondary">
                            <i class="fa-solid fa-eye white"></i>
                        </button>
                        <button type="button" (click)="deleteCategory(item)" class="btn btn-danger">
                            <i class="fa-solid fa-trash white"></i>
                        </button>
                    </div>
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

<app-modal size="lg" #formModal>
    <app-category-form [category]="currentCategory" [action]="'edit'" [title]="'Update Category'"> </app-category-form>
</app-modal>
